<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<dict>
			<key>title</key>
			<string>我们</string>
			<key>person</key>
			<dict>
				<key>iconStr</key>
				<string>头像字符串</string>
				<key>showStr</key>
				<string>心情字符串</string>
			</dict>
			<key>itemArray</key>
			<array>
				<dict>
					<key>stateStr</key>
					<string>状态字符串</string>
					<key>partnerStr</key>
					<string>合作方字符串</string>
				</dict>
				<dict>
					<key>stateStr</key>
					<string>状态字符串</string>
					<key>partnerStr</key>
					<string>合作方字符串</string>
				</dict>
				<dict>
					<key>stateStr</key>
					<string>状态字符串</string>
					<key>partnerStr</key>
					<string>合作方字符串</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>不一样</string>
			<key>person</key>
			<dict>
				<key>iconStr</key>
				<string>头像字符串</string>
				<key>showStr</key>
				<string>心情字符串</string>
			</dict>
			<key>itemArray</key>
			<array>
				<dict>
					<key>stateStr</key>
					<string>状态字符串</string>
					<key>partnerStr</key>
					<string>合作方字符串</string>
				</dict>
				<dict>
					<key>stateStr</key>
					<string>状态字符串</string>
					<key>partnerStr</key>
					<string>合作方字符串</string>
				</dict>
				<dict>
					<key>stateStr</key>
					<string>状态字符串</string>
					<key>partnerStr</key>
					<string>合作方字符串</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
